<div id="conteudoservico">
  <h3> Serviços </h3>
	<p>A J. Pessanha Vidracaria pensando em nossos clientes e amigos colocou fotos de serviços feito pela empresa. Vejas todas as fotos e confira a qualidade de nossos serviços.</p><br>
					
    <ol>
		  <li><%= link_to 'Báscula e Seteira', bascula_seteira_servicos_path %></li>
		  <li><%= link_to 'Box', box_servicos_path %></li>
      <li><%= link_to 'Espelho', espelho_servicos_path %></li>
      <li><%= link_to 'Fechamentos', fechamento_servicos_path %></li>
			<li><%= link_to 'Janelas', janela_servicos_path %></li>
			<li><%= link_to 'Portas', porta_servicos_path %></li>
			<li><%= link_to 'Quadros', quadro_servicos_path %></li>
			<li><%= link_to 'Sacadas', sacada_servicos_path %></li>
			<li><%= link_to 'Vidro Comum', vidro_comum_servicos_path %></li>
					</ol>
							

<%= link_to '', root_path, :class => "voltar" %>

</div>


 
