<p>
  <b>Nome:</b>
  <%= @usuario.nome %>
</p>

<p>
  <b>Sobrenome:</b>
  <%= @usuario.sobrenome %>
</p>

<p>
  <b>Sexo:</b>
  <%= @usuario.sexo %>
</p>

<p>
  <b>Telefone:</b>
  <%= @usuario.telefone %>
</p>

<p>
  <b>Endereco:</b>
  <%= @usuario.endereco %>
</p>

<p>
  <b>Complemento:</b>
  <%= @usuario.complemento %>
</p>

<p>
  <b>Bairro:</b>
  <%= @usuario.bairro %>
</p>

<p>
  <b>Cidade:</b>
  <%= @usuario.cidade %>
</p>

<p>
  <b>Estado:</b>
  <%= @usuario.estado %>
</p>

<p>
  <b>Email:</b>
  <%= @usuario.email %>
</p>

<p>
  <b>Data nascimento:</b>
  <%= @usuario.data_nascimento.to_s_br %>
</p>

