<!DOCTYPE html>
<html lang="pt-br">
<head>
  <title>J. Pessanha Vidraçaria - O melhor em vidro</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "jquery.easing.1.3.js" %>
  <%= javascript_include_tag "jquery.ennui.contentslider.js" %>
  <%= javascript_include_tag "jquery-1.3.2.min.js" %>
  <%= javascript_include_tag "NFLightBox.js" %>
  
  
  <%= csrf_meta_tags %>
  <meta charset="utf-8">
  <link rel="shortcut icon" href="/assets/favicon.ico" >
          
   <script type="text/javascript">
        $(function() {
        var settings = { containerResizeSpeed: 350
            };
            $('#gallery a').lightBox(settings);
        });
		</script>
	
	<script type="text/javascript" src="/assets/jquery.easing.1.3.js"></script>
  <script type="text/javascript" src="/assets/jquery.ennui.contentslider.js"></script>
  <script type="text/javascript">
        $(function() {
        $('#one').ContentSlider({
        width : '530px',
        height : '200px',
        speed : 800,
/* easing : 'easeInOutExpo' */
/* easing : 'easeOutQuad' */
         easing : 'easeInOutBack'
        });
        });
  </script>
        
        
        
        
</head>
<body>

<div id="cabecalho_fundo">

	<div id="cabecalho">
    
    	<div id="site_logo"></div>
    	<div id="usuario_logado">
    	
    	  <p class ="dia"><%= Time.now.strftime("%A, %d de %B de %Y") %></p>
    	  <br><br><br>
    	  
    	  <% if usuario_signed_in? %>
				  <p class="ola">Olá</p> <p class="usuarionome"><%= current_usuario.nome %> <%= current_usuario.tipo %></p>
				<% end %>
				
			</div>
    
  </div> 
  
</div>

<div id="menu_fundo">   
    
    <div id="menu">
        <ul>
            		 
            <li> <%= link_to "Inicial",root_path %> </li>
						<li> <%= link_to "Empresa", somos_path %> </li>
						<li><a href="#">Produtos</a></li>
						<li><%= link_to "Serviços", servicos_path %></li>
													  
				  <% if usuario_signed_in? %>
				    <li class="last"><a href="#">Contato</a></li>
				    <li><%= link_to 'Sair', destroy_usuario_session_path, method: :delete %></li>
				  <%else%>
				    <li><a href="#">Contato</a></li>
				    <li><%= link_to "Login", usuario_session_path %></li>
				    <li><%= link_to "Cadastra-se", new_usuario_registration_path, :class => "cadastrar" %></li>
				  <% end %>
        </ul>    	
    </div>
    
</div>
<div id = "conteudo_fundo">
  <div id="conteudo">

        <% if notice %>
             <div id='notice'>
                <h1>Aviso</h1>
                <p><%= notice %></p>
             </div>
          <% end %>

          <% if alert %>
             <div id='alert'>
               <h1>Erro</h1>
               <p><%= alert %></p>
             </div>
          <% end %>

<%= yield %>

  </div>

</div>



<div id="rodape_fundo">

	<div id="rodape">
  
    <div class="direitos">
       Copyright © J. Pessanha Vidraçaria 2011 - 2012. Todos os direitos reservados.
         | Desenvolvido por <a href="http://www.murilomanhaes.com" target="_blank">Murilo Manhães</a>
    </div>
        
  </div> 
</div>

</body>
</html>
